{% load static %}
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link href="{% static 'css/vendor.css' %}" rel="stylesheet">

<!-- hero -->
    <section class="bg-dark p-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="d-flex justify-content-center">
                    <img id='logo' src="https://i.postimg.cc/5tWHkwyR/Logo-Clear-Background.png" />
                </div>
              <div class="col-lg-10 text-white text-center">
                <h1 class="font-weight-light">Real-time <b>EigenLayer</b> data and analytics.</h1>
              </div>
            </div>
        </div>
      </section>
      <!-- / hero -->