{% extends "base.html" %}

{% block content %}

            <div>
                {% include "components/_header.html" with tag="Real-time EigenLayer data & analytics" %}
            </div>
            <div>
                {% include "components/_hero.html" with tag="Real-time EigenLayer data & analytics" %}
            </div>
            <div>
                {% include "components/widgets/_showcase.html" with tag="Real-time EigenLayer data & analytics" %}
            </div>
            <div>
                {% include "components/_content.html" %}
            </div>
            <div>
                {% include "components/_footer.html" %}
            </div>

{% endblock %}